@import "../base/global";

.footer-guidepost {
  --gap-section: 8rem;
  padding: 0 1rem;
  padding-top: var(--gap-section);
  padding-bottom: var(--gap-xxl);
  color: var(--color-black);
  text-align: center;
    
  a {
    color: var(--color-secondary);
  }
}
