@import "../base/global";

.header-guidepost {
  --pb: 6rem;
  padding-bottom: var(--pb);
  @include res-min-mobile-l {
    --pb: 8rem;
  }

  &__logo {
    --pt: 3rem;
    --pb: 2rem;
    position: relative;
    padding-top: var(--pt);
    padding-bottom: var(--pb);
    text-align: center;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
    }

    svg {
      max-height: 170px;
    }
  }

  &__content {
    --space-gap: #{$gap-l};
    --align-items: flex-start;
    --justify-content: normal;
    --align-content: flex-start;
    font-family: var(--font-text);
    @include flex-set(
      def,
      column,
      wrap,
      var(--space-gap),
      var(--align-items),
      var(--justify-content),
      var(--align-content)
    );

    strong {
      font-family: inherit;
    }

    .desc {
      --desc-font-size: 18px;
      @include res-max-desktop-s {
        --desc-font-size: 16px;
      }
    }
  }
}

.wrapper-guidepost {
  min-height: 100vh;

  &:after {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    // background-image: image-set(
    //   "../images/backgrounds/header-bg_1024.webp" 1x,
    //   "../images/backgrounds/header-bg_1920.webp" 2x
    // );
    background-image: url("../images/backgrounds/main-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
    backdrop-filter: saturate(160%) blur(5px);
    background-size: cover;
  }
}

.guidepost {
  --pt: 2rem;
  --pb: 2rem;
  padding-top: var(--pt);
  padding-bottom: var(--pb);
  @include res-max-desktop-s {
    @include flex-set($justify-content: center);
  }

  .redirect-card-wrapper {
    --column: 1fr;
    --column-gap: #{$gap-xl};
    --align-content: flex-start;
    --justify-content: normal;
    --align-content: normal;
    @include grid-columns(
      def,
      var(--column),
      var(--column-gap),
      var(--align-items),
      var(--justify-content),
      var(--align-content)
    );
    @include res-min-mobile-l {
      --column: 1fr 1fr;
    }
    @include res-min-tablet {
      --column: 1fr 1fr 1fr;
    }
  }

  .redirect-card {
    --box-gap: #{$gap-xxl};
    --padding: #{$gap-xxl} #{$gap-l};
    --align-items: center;
    --justify-content: normal;
    --align-content: center;
    padding: var(--padding);
    background: var(--color-white);
    border-radius: var(--gap-xl);
    font-size: 10px;
    text-decoration: none;

    @include flex-set(
      def,
      column,
      nowrap,
      var(--box-gap),
      var(--align-items),
      var(--justify-content),
      var(--align-content)
    );
    @include box-shadow();

    @include res-max-desktop-s {
      --box-gap: 2.4rem;
      max-width: 280px;
    }

    &:hover {
      --color-box-shadow: hsla(0, 0%, 0%, 0.3);
    }

    &__top {
      > svg {
        max-width: 9em;
        height: auto;
        @include res-max-desktop-s {
          max-width: 5em;
        }
      }
    }

    &__center {
      font-size: 10px;
      text-align: center;

      > .title {
        margin-bottom: 0.6em;
        font-family: var(--font-title);
        font-size: 4em;
        font-weight: 500;
        color: var(--color-primary);
        white-space: nowrap;
        @include res-max-desktop-s {
          margin-bottom: 0.4em;
          font-size: 3.5em;
        }

        &--yellow {
          color: var(--color-yellow);
        }
      }

      > small {
        font-size: 1.7em;
        line-height: 1.4;
        color: var(--color-secondary);
      }
    }

    &__bottom {
      font-size: 10px;

      > span {
        font-size: 1.7em;
        color: var(--color-primary);
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
