@import "../base/global";

.header-guidepost {
  &__logo {
    --pt: 3rem;
    --pb: 2rem;
    position: relative;
    padding-top: var(--pt);
    padding-bottom: var(--pb);
    text-align: center;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
    }

    svg {
      max-height: 170px;
    }
  }

  &__content {
    --space-gap: #{$gap-l};
    --align-items: center;
    --justify-content: normal;
    --align-content: center;
    @include flex-set(
      def,
      column,
      wrap,
      var(--space-gap),
      var(--align-items),
      var(--justify-content),
      var(--align-content)
    );
    font-family: var(--font-text);

    strong {
      font-family: inherit;
    }

    .desc {
      --desc-font-size: 18px;
      @include res-max-desktop-s {
        --desc-font-size: 16px;
      }
    }
  }
}

.wrapper-guidepost {
  min-height: 100vh;
}

.guidepost {
  --pt: 4rem;
  --pb: 4rem;
  @include flex-set($justify-content: center);
  padding-top: var(--pt);
  padding-bottom: var(--pb);
}

.redirect-card {
  --box-gap: #{$gap-xxl};
  --padding: #{$gap-xxl} #{$gap-l};
  --align-items: center;
  --justify-content: normal;
  --align-content: center;
  --shadow-alpha: 0.15;
  --logo-scale: 1;
  --box-gap: 2.4rem;
  @include flex-set(
    def,
    column,
    nowrap,
    var(--box-gap),
    var(--align-items),
    var(--justify-content),
    var(--align-content)
  );
  @include box-shadow(var(--shadow-alpha), 0, 0);
  max-width: 280px;
  padding: var(--padding);
  background: var(--color-white);
  border-radius: var(--gap-xl);
  font-size: 10px;
  text-decoration: none;
  transition: box-shadow var(--trans-time) ease-in-out;

  &:hover {
    --shadow-alpha: 0.3;
    --logo-scale: 1.1;

    @include res-max-tablet {
      --shadow-alpha: 0.15;
      --logo-scale: 1;
    }
  }

  &__wrapper {
    --col-count: 3;
    --column-gap: #{$gap-xl};
    --align-content: flex-start;
    --justify-content: normal;
    --align-content: normal;
    @include grid-columns(
      def,
      repeat(var(--col-count), minmax($gap-l, 1fr)),
      var(--column-gap),
      var(--align-items),
      var(--justify-content),
      var(--align-content)
    );
    @include res-max-tablet {
      --column-gap: #{$gap-l};
    }

    @media only screen and (max-width: 767px) {
      --col-count: 2;
    }

    @include res-max-mobile-l {
      --col-count: 1;
    }
  }

  &__top {
    > svg {
      max-width: 5em;
      height: auto;
      transform: scale(var(--logo-scale), var(--logo-scale));
      transition: transform var(--trans-time) ease-in-out;
    }
  }

  &__center {
    font-size: 10px;
    text-align: center;

    > .title {
      margin-bottom: 0.4em;
      font-family: var(--font-title);
      font-size: 3.5em;
      font-weight: 500;
      color: var(--color-primary);
      white-space: nowrap;
      @include res-max-tablet {
        font-size: 3.2em;
      }

      &--yellow {
        color: var(--color-yellow);
      }
    }

    > small {
      font-size: 1.7em;
      line-height: 1.4;
      color: var(--color-secondary);
    }
  }

  &__bottom {
    font-size: 10px;

    > span {
      font-size: 1.7em;
      color: var(--color-primary);
      text-transform: uppercase;
      @include res-max-tablet {
        font-size: 1.5em;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*animations*/
.header-guidepost {
  --animation-time:1s;
  --animation-delay: calc( var(--animation-time) / 2);

  @include res-min-tablet {
    &__logo {
      animation: showUpGuidepost 2.5s forwards;
    }

    &__content:nth-of-type(2) {
      opacity: 0;
      animation: showGuidepost var(--animation-time) forwards;
      animation-delay: calc(var(--animation-delay) * 4);
    }

    &__content:last-of-type {
      opacity: 0;
      animation: showGuidepost var(--animation-time) forwards;
      animation-delay: calc(var(--animation-delay) * 8);
    }

    .guidepost {
      .redirect-card:nth-of-type(1) {
        opacity: 0;
        animation: showGuidepost var(--animation-time) forwards;
        animation-delay: calc(var(--animation-delay) * 5);
      }

      .redirect-card:nth-of-type(2) {
        opacity: 0;
        animation: showGuidepost var(--animation-time) forwards;
        animation-delay: calc(var(--animation-delay) * 6);
      }

      .redirect-card:nth-of-type(3) {
        opacity: 0;
        animation: showGuidepost var(--animation-time) forwards;
        animation-delay: calc(var(--animation-delay)*7);
      }
    }
  }
}

@keyframes showUpGuidepost {
  from {
    transform: scale(2) translateY(60%);
  }
  40% {
    transform: scale(2) translateY(60%);
  }
  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes showGuidepost {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
