@import "../base/global";

.header {
  --pb: 14rem;
  padding-bottom: var(--pb);
  background-color: $color-nav-bg;
  backdrop-filter: saturate(160%) blur(5px);

  &__logo {
    --pt: 5rem;
    --pb: 4rem;
    position: relative;
    padding-top: var(--pt);
    padding-bottom: var(--pb);
    text-align: center;

    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    --space-gap: #{$gap-l};
    --align-items: flex-start;
    --justify-content: normal;
    --align-content: flex-start;
    font-family: var(--font-text);
    @include flex-set(
      def,
      column,
      wrap,
      var(--space-gap),
      var(--align-items),
      var(--justify-content),
      var(--align-content)
    );

    strong {
      font-family: inherit;
    }
  }
}
