@import "../base/global";

@import "../base/global";

.header {
  --anim-length: 0.7s;
  --anim-delay: calc(var(--anim-length) / 2);
  position: relative;
  height: 100vh;
  max-height: $height-4k;

  &:after {
    position: absolute;
    top: 0;
    right: -2px;
    display: block;
    content: "";
    width: 51%;
    height: 100%;
    background-image: image-set(
      "../images/backgrounds/bg_managment.png" 1x,
      "../images/backgrounds/bg_managment.png" 2x
    );
    background-image: image-set(
      "../images/backgrounds/bg_managment.png" 1x,
      "../images/backgrounds/bg_managment.png" 2x
    );
    background-repeat: no-repeat;
    background-position: right;
    //animation: showRight 1s linear forwards;
    background-size: cover;
  }

  &__container {
    --container-max-width: #{$width-desktop-m};
    --col-count: 2;
    --container-padding-x: 0;
    position: relative;
    width: 100%;
    max-width: var(--container-max-width);
    height: 100%;
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
    z-index: 10;
    @include grid-columns(
      def,
      repeat(var(--col-count), minmax($gap-l, 1fr)),
      0,
      stretch,
      center,
      stretch
    );
    @include res-max-desktop-m {
      --container-max-width: 90%;
    }

    @include res-max-desktop-s {
      --container-max-width: unset;
      --container-padding-x: #{$gap-xxl};
    }

    @include res-max-tablet {
      --container-padding-x: #{$gap-l};
    }

    @include res-max-mobile-l {
      --col-count: 1;
      --container-padding-x: #{$gap-l};
    }
  }

  &__content {
    --content-font-size: 8rem;
    --justify-content: center;
    --padding-top: 0;
    @include flex-set(
      def,
      column,
      wrap,
      $gap,
      flex-start,
      var(--justify-content)
    );
    position: relative;
    padding-top: var(--padding-top);
    font-size: var(--content-font-size);
    z-index: 2;

    @include res-max-desktop-xxl {
      --content-font-size: 9rem;
    }

    @include res-max-desktop-s {
      --content-font-size: 6rem;
    }

    @include res-max-mobile-l {
      --content-font-size: 5rem;
      --padding-top: var(--nav-height);
      --justify-content: flex-start;
    }

    > h1 {
      opacity: 0;
      font-size: 1em;
      font-weight: 500;
      line-height: 1;
      color: var(--color-primary);
      white-space: nowrap;
      animation: showUp var(--anim-length) linear forwards;
      transform: translateY(1rem);
      z-index: 1;
    }

    > p {
      opacity: 0;
      font-family: var(--font-title);
      font-size: 0.4em;
      font-weight: 400;
      line-height: 1.2;
      animation: showUp var(--anim-length) var(--anim-delay) linear forwards;
      transform: translateY(-1rem);
      @include res-min-mobile-l {
        line-height: 1.4;
      }

      + div {
        margin-top: 0.7em;
        opacity: 0;
        animation: showButton var(--anim-length)
          calc(var(--anim-length) + var(--anim-delay)) linear forwards;
      }
    }
  }

  // &__bg {
  //   --bg-min-height: 0;
  //   width: 100%;
  //   min-height: var(--bg-min-height);
  //   background-image: image-set(
  //     "../images/backgrounds/bg_managment.png" 1x,
  //     "../images/backgrounds/bg_managment.png" 2x
  //   );
  //   background-repeat: no-repeat;
  //   background-position: right bottom;
  //   opacity: 0;
  //   animation: showImage 1s linear forwards;
  //   transform: scale(0.9, 0.9);
  //   z-index: 1;
  //   background-size: contain;

  //   @include res-min-tablet {
  //     background-image: image-set(
  //       "../images/backgrounds/bg_managment.png" 1x,
  //       "../images/backgrounds/bg_managment.png" 1x
  //     );
  //   }

  //   @include res-max-mobile-l {
  //     --bg-min-height: 55vh;
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //   }
  // }
}

@keyframes showRight {
  from {
    opacity: 0;
    transform: translate(4rem, 0);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes showImage {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

