@import "../base/global";

.services {
  --gap-section: 7rem;
  padding-top: var(--gap-section);

  &__container {
    --gap-container: calc(#{$gap-xxl} * 2);
    @include grid-columns(
      def,
      1fr,
      var(--gap-container),
      stretch,
      center,
      stretch
    );
  }

  &__title {
    h2 {
      margin-bottom: $gap-l;
    }
  }

  &__content {
    --column: 1fr;
    --column-gap: #{$gap};
    --align-items: start;
    --justify-content: center;
    --align-content: stretch;
    @include grid-columns(
      def,
      var(--column),
      var(--column-gap),
      var(--align-items),
      var(--justify-content),
      var(--align-content)
    );

    @include res-min-tablet {
      --column: 2fr 1fr;
      --column-gap: #{$gap-xl};
    }
    @include res-min-desktop-s {
      --column-gap: #{$gap-xl};
    }

    ul {
      padding-left: var(--gap-xl);
      margin-bottom: var(--gap-xxl);
      @include res-min-mobile-l {
        padding-left: var(--gap-xxl);
      }

      li {
        font-family: var(--font-title);
        font-size: x-large;
        line-height: 1.4;

        &::marker {
          margin: 0 0.5rem 0 0;
          font-size: 2rem;
          color: var(--color-primary);
        }
      }
    }

    img {
      @include res-max-desktop-m {
        width: 100%;
        max-width: 320px;
      }
    }

    h3 {
      margin-bottom: var(--gap);
      font-size: 2rem;
    }

    p {
      margin-bottom: var(--gap-l);
      color: var(--color-secondary);

      strong {
        font-family: inherit;
        font-weight: bold;
      }

      a {
        font-weight: bold;
        color: inherit;
      }
    }

    .img-wrapper{ 
      --radius:#{$gap-xl};
      --color-box-shadow: #{$color-box-shadow};     
      border-radius: var(--radius);
      overflow: hidden;
      @include box-shadow(0, 0, 20px);

      > picture{
        display: flex;
      }
    }

    &--column {
      --column: 1fr;      
    }

    &--reverse {
      --column: 1fr;
      @include res-min-tablet {
        --column: 1fr 2fr;
      }

      > picture {
        @include res-max-tablet {
          grid-row: end;
        }
      }
    }
  }
}
