@import "../base/global";

.team {
  --gap-section: .4rem;
  padding-top: var(--gap-section);
  scroll-margin-top: var(--gap-section);
  @include res-min-mobile-l {
    --gap-section: 7rem;
    scroll-margin-top: calc(var(--nav-height) * -0.5);
  }

  &__container {
    --gap-container: #{$gap-xxl};
    @include grid-columns(
      def,
      1fr,
      var(--gap-container),
      stretch,
      center,
      stretch
    );

    @include res-min-tablet {
      --gap-container: 4rem;
    }

    @include res-min-desktop-s {
      --gap-container: 5rem;
    }
  }

  &__title {
    h2 {
      margin-bottom: $gap-l;
    }

    p {
      color: var(--color-secondary);
    }
  }

  &__content {
    --col-count: 1;
    @include grid-columns(
      def,
      repeat(var(--col-count), minmax($gap-l, 1fr)),
      var(--gap-xxl),
      stretch,
      center,
      stretch
    );
    @include res-min-mobile-l {
      --col-count: 2;
      row-gap: 4rem;
    }
    @include res-min-desktop-s {
      --col-count: 3;
      row-gap: 6.4rem;
    }
  }

  &__card {
    @include grid-columns(def, 5fr 8fr, $gap-l, stretch, center, stretch);

    img {
      --color-box-shadow: #{$color-box-shadow};
      @include box-shadow(0, 0, 20px);
      border-radius: var(--gap);
    }

    > div {
      @include flex-set(def, column, wrap, $gap, flex-start, flex-start);
    }

    p {
      font-family: var(--font-title);
      font-size: 1.5rem;
    }

    i {
      margin-bottom: var(--gap);
      font-family: var(--font-text);
      font-size: 1rem;
      color: var(--color-secondary);
    }

    svg {
      fill: var(--color-primary);
    }

    a {
      margin-left: var(--gap);
      font-family: var(--font-text);
      font-size: 0.875rem;
      color: var(--color-secondary);
      text-decoration: none;
      word-break: break-word;
    }
  }
}
