:root {
  --color-black: black;
  --color-black--trans: rgba(0, 0, 0, 0.1);
  --color-white: white;
  --color-darken: #fcfcfc;
  --color-white--trans: rgba(255, 255, 255, 0.7);
  --color-border: var(--color-white);
  --color-trans: rgba(0, 0, 0, 0);
  --color-primary: #68a4d9;
  --color-primary--darken: #52aeff;
  --color-secondary: #424243;
  --color-box-shadow: rgba(0, 0, 0, 0.17);
  --color-yellow: #fdba12;
  --color-disabled: gray;
  --trans-time: 0.25s;
  --trans-fnc: ease-in-out;
  --gap-xxl: 3.2rem;
  --gap-xl: 2.4rem;
  --gap-l: 1.6rem;
  --gap: 0.8rem;
  --gap-s: 0.4rem;
  --gap-xs: 0.2rem;
  --radius: 1rem;
  --radius-s: 0.5rem;
  --font-text: open-sans, sans-serif;
  --font-title: zurrich;
  --border-width: 1px;
  --nav-height: 7rem;
  --gap-multiplier: 1; }

@media only screen and (max-width: 768px) {
  :root {
    --trans-time: 0; } }

@font-face {
  font-family: "zurrich";
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
  src: url("../fonts/zurrich/regular/zurrich.eot");
  src: url("../fonts/zurrich/regular/zurrich.eot?#iefix") format("embedded-opentype"), url("../fonts/zurrich/regular/zurrich.woff2") format("woff2"), url("../fonts/zurrich/regular/zurrich.ttf") format("truetype"), url("../fonts/zurrich/regular/zurrich.otf") format("opentype"); }

@font-face {
  font-family: "zurrich-bold";
  font-weight: 700;
  font-display: fallback;
  font-style: normal;
  src: url("../fonts/zurrich/bold/zurrich-bold.eot");
  src: url("../fonts/zurrich/bold/zurrich-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/zurrich/bold/zurrich-bold.woff2") format("woff2"), url("../fonts/zurrich/bold/zurrich-bold.ttf") format("truetype"), url("../fonts/zurrich/bold/zurrich-bold.otf") format("opentype"); }

* {
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth; }

body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

address {
  font-style: normal; }

textarea {
  font-family: inherit; }

section {
  scroll-margin-top: calc(var(--nav-height) * -0.5); }

body {
  display: flex;
  flex-flow: column wrap; }
  body nav {
    flex: none; }
  body header {
    flex: 0 0 auto;
    width: 100%; }
  body main {
    flex: 1 1 auto;
    width: 100%; }
  body footer {
    flex: 0 0 auto;
    width: 100%; }

.d-f {
  display: flex; }

.d-if {
  display: inline-flex; }

.d-n {
  display: none; }

.fd-r {
  flex-direction: row; }

.fd-c {
  flex-direction: column; }

.p {
  --pad: 0.8rem;
  padding: var(--pad); }
  @media only screen and (max-width: 1024px) {
    .p {
      --gap-multiplier: 0.5; } }
  @media only screen and (max-width: 425px) {
    .p {
      --gap-multiplier: 0.25; } }
  .p--xs {
    --pad: calc(0.2em * var(--gap-multiplier)) !important; }
  .p--s {
    --pad: calc(0.4em * var(--gap-multiplier)) !important; }
  .p--m {
    --pad: calc(0.8em * var(--gap-multiplier)) !important; }
  .p--l {
    --pad: calc(1.6em * var(--gap-multiplier)) !important; }
  .p--xl {
    --pad: calc(2.4em * var(--gap-multiplier)) !important; }
  .p--xxl {
    --pad: calc(3.2em * var(--gap-multiplier)) !important; }
  .p--xxxl {
    --pad: calc(4em * var(--gap-multiplier)) !important; }
  .p--no {
    --pad: 0 !important; }
  .p-x {
    --pad-h: gap;
    padding-right: var(--pad-h);
    padding-left: var(--pad-h); }
    .p-x--xs {
      --pad-h: calc(0.2em * var(--gap-multiplier)) !important; }
    .p-x--s {
      --pad-h: calc(0.4em * var(--gap-multiplier)) !important; }
    .p-x--m {
      --pad-h: calc(0.8em * var(--gap-multiplier)) !important; }
    .p-x--l {
      --pad-h: calc(1.6em * var(--gap-multiplier)) !important; }
    .p-x--xl {
      --pad-h: calc(2.4em * var(--gap-multiplier)) !important; }
    .p-x--xxl {
      --pad-h: calc(3.2em * var(--gap-multiplier)) !important; }
    .p-x--xxxl {
      --pad-h: calc(4em * var(--gap-multiplier)) !important; }
    .p-x--no {
      --pad-h: 0 !important; }
  .p-y {
    --pad-v: -gap;
    padding-top: var(--pad-v);
    padding-bottom: var(--pad-v); }
    .p-y--xs {
      --pad-v: calc(0.2em * var(--gap-multiplier)) !important; }
    .p-y--s {
      --pad-v: calc(0.4em * var(--gap-multiplier)) !important; }
    .p-y--m {
      --pad-v: calc(0.8em * var(--gap-multiplier)) !important; }
    .p-y--l {
      --pad-v: calc(1.6em * var(--gap-multiplier)) !important; }
    .p-y--xl {
      --pad-v: calc(2.4em * var(--gap-multiplier)) !important; }
    .p-y--xxl {
      --pad-v: calc(3.2em * var(--gap-multiplier)) !important; }
    .p-y--xxxl {
      --pad-v: calc(4em * var(--gap-multiplier)) !important; }
    .p-y--no {
      --pad-v: 0 !important; }

.m {
  --mg: 0.8rem;
  margin: var(--mg); }
  @media only screen and (max-width: 1024px) {
    .m {
      --gap-multiplier: 0.5; } }
  @media only screen and (max-width: 425px) {
    .m {
      --gap-multiplier: 0.25; } }
  .m--xs {
    --mg: calc(0.2em * var(--gap-multiplier)) !important; }
  .m--s {
    --mg: calc(0.4em * var(--gap-multiplier)) !important; }
  .m--m {
    --mg: calc(0.8em * var(--gap-multiplier)) !important; }
  .m--l {
    --mg: calc(1.6em * var(--gap-multiplier)) !important; }
  .m--xl {
    --mg: calc(2.4em * var(--gap-multiplier)) !important; }
  .m--xxl {
    --mg: calc(3.2em * var(--gap-multiplier)) !important; }
  .m--xxxl {
    --mg: calc(4em * var(--gap-multiplier)) !important; }
  .m--no {
    --mg: 0 !important; }
  .m-y {
    --mg-v: gap;
    margin-top: var(--mg-v);
    margin-bottom: var(--mg-v); }
    .m-y--xs {
      --mg-v: calc(0.2em * var(--gap-multiplier)) !important; }
    .m-y--s {
      --mg-v: calc(0.4em * var(--gap-multiplier)) !important; }
    .m-y--m {
      --mg-v: calc(0.8em * var(--gap-multiplier)) !important; }
    .m-y--l {
      --mg-v: calc(1.6em * var(--gap-multiplier)) !important; }
    .m-y--xl {
      --mg-v: calc(2.4em * var(--gap-multiplier)) !important; }
    .m-y--xxl {
      --mg-v: calc(3.2em * var(--gap-multiplier)) !important; }
    .m-y--xxxl {
      --mg-v: calc(4em * var(--gap-multiplier)) !important; }
    .m-y--no {
      --mg-v: 0 !important; }
  .m-x {
    --mg-h: gap;
    margin-right: var(--mg-h);
    margin-left: var(--mg-h); }
    .m-x--xs {
      --mg-h: calc(0.2em * var(--gap-multiplier)) !important; }
    .m-x--s {
      --mg-h: calc(0.4em * var(--gap-multiplier)) !important; }
    .m-x--m {
      --mg-h: calc(0.8em * var(--gap-multiplier)) !important; }
    .m-x--l {
      --mg-h: calc(1.6em * var(--gap-multiplier)) !important; }
    .m-x--xl {
      --mg-h: calc(2.4em * var(--gap-multiplier)) !important; }
    .m-x--xxl {
      --mg-h: calc(3.2em * var(--gap-multiplier)) !important; }
    .m-x--xxxl {
      --mg-h: calc(4em * var(--gap-multiplier)) !important; }
    .m-x--no {
      --mg-h: 0 !important; }
  .m-la {
    margin-left: auto; }
  .m-ra {
    margin-right: auto; }
  .m-a {
    margin: auto; }

.gap {
  --gap: gap;
  gap: var(--gap) !important; }
  .gap--xs {
    --gap: calc(0.2em * var(--gap-multiplier)) !important; }
  .gap--s {
    --gap: calc(0.4em * var(--gap-multiplier)) !important; }
  .gap--m {
    --gap: calc(0.8em * var(--gap-multiplier)) !important; }
  .gap--l {
    --gap: calc(1.6em * var(--gap-multiplier)) !important; }
  .gap--xl {
    --gap: calc(2.4em * var(--gap-multiplier)) !important; }
  .gap--xxl {
    --gap: calc(3.2em * var(--gap-multiplier)) !important; }
  .gap--xxxl {
    --gap: calc(4em * var(--gap-multiplier)) !important; }
  .gap--no {
    --gap: 0 !important; }

.jc-sb {
  justify-content: space-between; }

.jc-sa {
  justify-content: space-around; }

.jc-c {
  justify-content: center; }

.jc-fe {
  justify-content: flex-end; }

.jc-fs {
  justify-content: flex-start; }

.jc-st {
  justify-content: stretch; }

.ai-sb {
  align-items: space-between; }

.ai-sa {
  align-items: space-around; }

.ai-c {
  align-items: center; }

.ai-fe {
  align-items: flex-end; }

.ai-fs {
  align-items: flex-start; }

.ai-st {
  align-items: stretch; }

.center-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.text-to-center {
  text-align: center; }

.text-to-left {
  text-align: left; }

.text-to-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.inline-flex {
  display: inline-flex; }

.inline-block {
  display: inline-block; }

.img-fluid {
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: var(--font-title); }

p,
span,
small {
  font-family: var(--font-text); }

.title {
  --title-color: black;
  font-size: 3em;
  font-weight: 600;
  color: var(--title-color); }
  @media only screen and (min-width: 769px) {
    .title {
      font-size: 3.2em; } }
  @media only screen and (min-width: 1367px) {
    .title {
      font-size: 4em; } }
  .title > strong {
    display: block;
    font-size: 0.4em;
    font-weight: 400;
    color: var(--color-primary);
    text-transform: uppercase; }
  .title--absolute {
    --title-left: 15%;
    position: absolute;
    top: 8rem;
    left: 15%;
    z-index: 50; }
    @media only screen and (max-width: 1440px) {
      .title--absolute {
        --title-left: 10%; } }
    @media only screen and (max-width: 1366px) {
      .title--absolute {
        --title-left: var(--pad-base); } }
    @media only screen and (max-width: 425px) {
      .title--absolute {
        --title-left: 1rem; } }

.desc {
  --desc-font-size: 22px;
  font-family: "open-sans", sans-serif;
  font-size: var(--desc-font-size);
  font-weight: 300;
  line-height: 1.7; }
  @media only screen and (max-width: 1024px) {
    .desc {
      --desc-font-size: large; } }
  @media only screen and (max-width: 768px) {
    .desc--form {
      line-height: 1.4; } }

.primary-link {
  font-weight: normal;
  color: var(--color-primary); }

.button {
  --pad: 0.8rem;
  --btn-color: var(--color-white);
  --btn-bg-color: var(--color-black);
  --btn-border-color: var(--color-black);
  --btn-trans-y: 0;
  --shadow-alpha:.15;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: var(--gap-s);
  border: var(--border-width) solid var(--btn-border-color);
  box-shadow: 0 0.4rem 0.8rem 0 hsla(0, 0%, 0%, var(--shadow-alpha));
  min-width: 12rem;
  padding: var(--pad);
  background-color: var(--btn-bg-color);
  border-radius: var(--radius-s);
  font-family: var(--font-title);
  font-size: x-large;
  font-weight: 400;
  line-height: 1;
  color: var(--btn-color);
  text-decoration: none;
  text-transform: uppercase;
  transform: translateY(var(--btn-trans-y));
  transition: transform var(--trans-time) ease-in-out, box-shadow var(--trans-time) ease-in-out;
  cursor: pointer; }
  .button:hover {
    --btn-trans-y: -5%;
    --shadow-alpha:.3; }
    @media only screen and (max-width: 768px) {
      .button:hover {
        --btn-trans-y: 0;
        --shadow-alpha:.15; } }
  .button--secondary {
    --btn-color: var(--color-black);
    --btn-bg-color: var(--color-trans); }
  .button[disabled] {
    --btn-bg-color: var(--color-disabled);
    --btn-cursor: not-allowed; }
    .button[disabled]:hover {
      --shadow-alpha:.15;
      --btn-trans-y: 0; }

.burger {
  width: 50px;
  height: 50px;
  padding: 0.4rem;
  background-color: transparent;
  border-width: 0;
  transform: translate(-50%, -50%);
  cursor: pointer; }
  .burger > span {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background: var(--nav-color);
    border-radius: 1.5px;
    transition: top, transform .3s; }
    .burger > span:nth-child(1) {
      top: -2px;
      transition: transform .2s;
      transition: top .2s .2s, transform .2s; }
    .burger > span:nth-child(2) {
      top: 5px;
      transition: top .2s .2s, transform .2s; }
    .burger > span:nth-child(3) {
      top: 12px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, #68a4d9 30%, #68a4d9 70%);
      transition: top .2s .2s, transform .2s; }
  .burger--open > span:nth-child(1) {
    top: 6px;
    transform: rotate(45deg);
    transition: transform .2s .2s;
    transition: top .2s, transform .2s .2s; }
  .burger--open > span:nth-child(2) {
    top: 2px;
    background: transparent;
    transform: rotate(-45deg);
    transition: top .2s, transform .2s .2s; }
  .burger--open > span:nth-child(3) {
    top: 0;
    background: linear-gradient(to right, white, white 30%, white 30%, white 70%);
    transform: rotate(-45deg);
    transition: top .2s, transform .2s .2s; }

.container {
  --pad-base: var(--gap-l);
  width: 70%;
  min-width: 1200px;
  margin: 0 auto; }
  .container--s {
    max-width: 1100px; }
  @media only screen and (max-width: 1440px) {
    .container {
      width: 80%;
      min-width: 1024px; } }
  @media only screen and (max-width: 1024px) {
    .container {
      width: 100%;
      min-width: 0;
      padding: 0 var(--pad-base); } }
  @media only screen and (max-width: 425px) {
    .container {
      padding: 0 1rem; } }

.icon {
  --icon-size: 0.8rem;
  display: block;
  width: var(--icon-size);
  aspect-ratio: 1 / 1;
  fill: currentColor; }

.link {
  font-family: "open-sans", sans-serif;
  font-size: medium;
  letter-spacing: 1.5px;
  color: white; }

.logo {
  max-width: 8rem; }
  .logo > svg {
    display: block;
    width: 100%;
    max-width: 74px;
    height: auto;
    fill: var(--nav-color); }
    .logo > svg path, .logo > svg rect {
      fill: var(--nav-color); }
    @media only screen and (max-width: 1024px) {
      .logo > svg {
        max-width: 45px;
        height: 40px; } }

::-webkit-scrollbar {
  width: 0.8rem; }

/* Track */
::-webkit-scrollbar-track {
  background: black; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #68a4d9;
  border-radius: 0.4rem; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #52aeff; }

.form__element {
  --gap-form: 0.4rem;
  display: grid;
  gap: var(--gap-form);
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  grid-template-columns: 1fr; }
  @media only screen and (max-width: 425px) {
    .form__element {
      grid-column-end: span 2; } }
  .form__element--full {
    grid-column-end: span 2; }
  .form__element label {
    font-family: var(--font-title);
    font-size: 1.375rem; }
  .form__element input,
  .form__element textarea {
    border: 0 solid var(--color-black);
    border-bottom: var(--border-width) solid var(--color-black);
    width: 100%;
    border-radius: 0;
    font-family: var(--font-text);
    font-size: 1rem; }
    .form__element input:focus,
    .form__element textarea:focus {
      border-color: var(--color-primary); }
    .form__element input:focus-visible,
    .form__element textarea:focus-visible {
      outline: 0; }
  .form__element textarea {
    min-height: 10rem;
    max-height: 14rem;
    resize: vertical; }

.form__validation {
  display: none;
  font-size: medium;
  line-height: 1.5;
  color: #34bc34; }

.contact {
  --gap-section: 7rem;
  position: relative;
  margin-top: var(--gap-section); }
  @media only screen and (min-width: 769px) {
    .contact {
      --gap-section: 10rem; } }
  .contact__container {
    --column: 1fr;
    --gap-container: 3.2rem;
    display: grid;
    gap: var(--gap-container);
    align-items: center;
    align-content: stretch;
    justify-content: center;
    grid-template-columns: var(--column); }
    @media only screen and (min-width: 426px) {
      .contact__container {
        --gap-container: 4rem; } }
    @media only screen and (min-width: 769px) {
      .contact__container {
        --column: 1fr 1fr;
        --gap-container: 4rem; } }
    @media only screen and (min-width: 1921px) {
      .contact__container {
        justify-items: center; } }
  @media only screen and (min-width: 769px) {
    .contact__title {
      margin-left: 4rem;
      transform: translate(0, 0); } }
  @media only screen and (min-width: 1025px) {
    .contact__title {
      margin-left: 6rem; } }
  @media only screen and (min-width: 1441px) {
    .contact__title {
      margin-left: 8rem; } }
  .contact__title h2 {
    margin-bottom: var(--gap-xxl); }
  .contact__title a:hover {
    text-decoration: underline; }
  .contact__address {
    --col-count: 1;
    display: grid;
    gap: var(--gap-l);
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    grid-template-columns: repeat(var(--col-count), minmax(1.6rem, 1fr)); }
    .contact__address > div:first-of-type {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      align-content: normal;
      justify-content: flex-start;
      gap: 1.6rem; }
    .contact__address > div {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      align-content: normal;
      justify-content: flex-start;
      gap: 0.2rem; }
    .contact__address p {
      font-size: large; }
      .contact__address p span {
        margin-right: var(--gap-s);
        color: var(--color-primary); }
    .contact__address span {
      font-family: var(--font-title);
      font-size: 1.4rem; }
    .contact__address svg {
      fill: var(--color-primary); }
    .contact__address address,
    .contact__address a {
      margin-left: 1.6rem;
      font-family: var(--font-text);
      font-size: large;
      color: var(--color-secondary);
      text-decoration: none; }
    .contact__address .icon {
      --icon-size: 1.2rem; }
  .contact__form {
    --color-box-shadow: rgba(0, 0, 0, 0.17);
    box-shadow: 30px 30px 75px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    width: 100%;
    padding: var(--gap-l);
    background-color: var(--color-white);
    border-radius: var(--gap); }
    @media only screen and (max-width: 768px) {
      .contact__form {
        grid-row: end; } }
    @media only screen and (min-width: 1025px) {
      .contact__form {
        padding: 5rem var(--gap-xxl) var(--gap-xl) var(--gap-xxl); } }
    @media only screen and (min-width: 1025px) {
      .contact__form:after {
        --bg-image: url("../images/circles/contact-dots.svg");
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
        width: 172%;
        aspect-ratio: 1171 / 374;
        background-image: var(--bg-image);
        background-repeat: no-repeat;
        background-position: bottom 0 left 0;
        transform: translate(-10%, 30%);
        z-index: -1; } }
    .contact__form:before {
      --shape-radius: 0;
      position: absolute;
      top: -1.6rem;
      right: -1rem;
      content: "";
      width: 100vw;
      height: calc(100% + 3.2rem);
      background: linear-gradient(45deg, #68a4d9 0%, #52aeff 100%);
      border-radius: var(--shape-radius);
      z-index: -1; }
      @media only screen and (min-width: 426px) {
        .contact__form:before {
          right: -1.6rem; } }
      @media only screen and (min-width: 769px) {
        .contact__form:before {
          --shape-radius: 3rem;
          top: 4rem;
          right: -4.8rem;
          height: 100%; } }
      @media only screen and (min-width: 1025px) {
        .contact__form:before {
          --shape-radius: 6rem;
          top: 6.4rem;
          right: -7.6rem;
          height: 107%; } }
      @media only screen and (min-width: 1441px) {
        .contact__form:before {
          height: 112%; } }
    .contact__form button {
      text-align: center; }
    .contact__form > div {
      margin-bottom: var(--gap-xxl); }
      @media only screen and (min-width: 769px) {
        .contact__form > div {
          margin-bottom: var(--gap-xl); } }
      @media only screen and (min-width: 1025px) {
        .contact__form > div {
          margin-bottom: 4.2rem; } }
      .contact__form > div h3 {
        margin-bottom: var(--gap);
        font-size: 2rem;
        text-transform: uppercase; }
      .contact__form > div p {
        color: var(--color-secondary); }
    .contact__form form {
      --col-count: 2;
      --column-gap: 1.6rem;
      display: grid;
      gap: var(--column-gap);
      align-items: stretch;
      align-content: stretch;
      justify-content: center;
      grid-template-columns: repeat(var(--col-count), minmax(1.6rem, 1fr)); }
      @media only screen and (min-width: 769px) {
        .contact__form form {
          --column-gap: 2.4rem; } }

footer {
  padding: 1.6rem 0.8rem;
  color: var(--color-black);
  text-align: center; }
  footer a {
    color: var(--color-secondary); }

.footer {
  --gap-section: 5rem;
  margin-top: var(--gap-section);
  margin-bottom: var(--gap-xxl);
  text-align: center; }
  @media only screen and (min-width: 426px) {
    .footer {
      --gap-section: 5rem;
      padding: 0 1.6rem; } }
  @media only screen and (min-width: 769px) {
    .footer {
      --gap-section: 8rem; } }
  @media only screen and (min-width: 1025px) {
    .footer {
      --gap-section: 13rem; } }
  @media only screen and (min-width: 1441px) {
    .footer {
      --gap-section: 15rem; } }

.header {
  --anim-length: 0.7s;
  --anim-delay: calc(var(--anim-length) / 2);
  position: relative;
  height: 100vh;
  max-height: 2160px; }
  .header:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: "";
    width: 51%;
    height: 100%;
    background-image: image-set("../images/backgrounds/bg_managment_960.webp" 1x, "../images/backgrounds/bg_managment_1920.webp" 2x);
    background-repeat: no-repeat;
    background-position: right 100% top 100%;
    background-size: cover; }
    @media only screen and (max-width: 425px) {
      .header:after {
        width: 36%;
        background-image: image-set("../images/backgrounds/bg_managment_480.webp" 1x, "../images/backgrounds/bg_managment_960.webp" 2x); } }
  .header__container {
    --container-max-width: 1366px;
    --col-count: 2;
    --container-padding-x: 0;
    position: relative;
    width: 100%;
    max-width: var(--container-max-width);
    height: 100%;
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
    z-index: 10;
    display: grid;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    grid-template-columns: repeat(var(--col-count), minmax(1.6rem, 1fr)); }
    @media only screen and (max-width: 1366px) {
      .header__container {
        --container-max-width: 90%; } }
    @media only screen and (max-width: 1024px) {
      .header__container {
        --container-max-width: unset;
        --container-padding-x: 3.2rem; } }
    @media only screen and (max-width: 768px) {
      .header__container {
        --container-padding-x: 1.6rem; } }
    @media only screen and (max-width: 425px) {
      .header__container {
        --col-count: 1;
        --container-padding-x: 1.6rem; } }
  .header__content {
    --content-font-size: 8rem;
    --justify-content: center;
    --padding-top: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: normal;
    justify-content: var(--justify-content);
    gap: 0.8rem;
    position: relative;
    padding-top: var(--padding-top);
    font-size: var(--content-font-size);
    z-index: 2; }
    @media only screen and (max-width: 1920px) {
      .header__content {
        --content-font-size: 9rem; } }
    @media only screen and (max-width: 1024px) {
      .header__content {
        --content-font-size: 6rem; } }
    @media only screen and (max-width: 425px) {
      .header__content {
        --content-font-size: 5rem;
        --padding-top: var(--nav-height);
        --justify-content: flex-start; } }
    .header__content > h1 {
      opacity: 0;
      font-size: 1em;
      font-weight: 500;
      line-height: 1;
      color: var(--color-primary);
      white-space: nowrap;
      animation: showUp var(--anim-length) linear forwards;
      transform: translateY(1rem);
      z-index: 1; }
      @media only screen and (max-width: 425px) {
        .header__content > h1 {
          font-size: .7em; } }
    .header__content > p {
      opacity: 0;
      font-family: var(--font-title);
      font-size: 0.4em;
      font-weight: 400;
      line-height: 1.2;
      animation: showUp var(--anim-length) var(--anim-delay) linear forwards;
      transform: translateY(-1rem); }
      @media only screen and (min-width: 426px) {
        .header__content > p {
          line-height: 1.4; } }
      .header__content > p + div {
        margin-top: 0.7em;
        opacity: 0;
        animation: showButton var(--anim-length) calc(var(--anim-length) + var(--anim-delay)) linear forwards; }

@keyframes showRight {
  from {
    opacity: 0;
    transform: translate(4rem, 0); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes showImage {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  to {
    opacity: 1;
    transform: scale(1, 1); } }

@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(1rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes showButton {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.nav {
  --nav-color: #464749;
  --nav__menu-display: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: normal;
  justify-content: space-between;
  gap: 2.4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  padding: 0 var(--gap-xl);
  color: var(--nav-color);
  z-index: 999; }
  @media only screen and (max-width: 1024px) {
    .nav {
      --nav-height: 3.2rem;
      background-color: rgba(255, 255, 255, 0.9);
      backdrop-filter: saturate(180%) blur(5px);
      box-shadow: inset 0 0 0.8rem 0 rgba(171, 171, 171, 0.226); } }
  @media only screen and (max-width: 1366px) {
    .nav {
      padding: 0 1rem; } }
  @media only screen and (min-width: 1025px) {
    .nav .fuzzy {
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 0.4rem;
      backdrop-filter: saturate(180%) blur(5px); } }
  .nav .fuzzy--logo {
    padding: 0.4rem; }
  .nav .fuzzy--burger {
    position: relative;
    width: 45px;
    height: 40px; }
    .nav .fuzzy--burger .burger {
      position: absolute;
      top: 15px;
      left: 23px; }
  .nav--open {
    --nav-color: var(--color-white);
    background-color: none;
    backdrop-filter: none; }
    .nav--open .fuzzy {
      background-color: transparent;
      backdrop-filter: none; }
  .nav__menu {
    --bg-image: url("../images/circles/header-dots.svg");
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: var(--nav__menu-display);
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #68a4d9, #52aeff);
    opacity: 0;
    color: var(--nav-color);
    z-index: -1; }
    @media only screen and (min-width: 1441px) {
      .nav__menu {
        background: var(--bg-image), radial-gradient(ellipse at center, #68a4d9, #52aeff);
        background-repeat: no-repeat;
        background-position: left bottom; } }
    .nav__menu--open {
      --nav__menu-display: flex;
      animation: showMenu 0.5s forwards;
      animation-delay: 0.1s; }
      .nav__menu--open ul {
        position: relative;
        top: -5%; }
  .nav ul {
    padding: 0;
    list-style: none;
    text-align: center; }
  .nav__item > a {
    --text-width: 50%;
    position: relative;
    display: block;
    height: 100%;
    font-family: var(--font-title);
    font-size: 2rem;
    line-height: 1.7;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10; }
    @media only screen and (min-width: 426px) {
      .nav__item > a {
        line-height: 2; } }
    @media only screen and (min-width: 1025px) {
      .nav__item > a {
        font-size: var(--gap-xl); } }
    .nav__item > a:hover {
      color: var(--color-black);
      text-decoration: underline; }
  .nav picture {
    position: absolute;
    bottom: var(--gap-xl);
    left: var(--gap-xl); }
  .nav small {
    position: absolute;
    bottom: var(--gap-xl);
    padding: 0 var(--gap-l);
    text-align: center; }
    .nav small > a {
      color: var(--color-white); }

@keyframes showMenu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#map {
  width: 100%;
  height: 75vh; }
  @media only screen and (min-width: 426px) {
    #map {
      height: 50vh; } }
  @media only screen and (min-width: 769px) {
    #map {
      height: 90vh; } }
  #map div > img[src*="data:image/svg+xml"] {
    display: none; }
  #map div[aria-label="Map"] div[style*="z-index: 1;"] div[class] {
    position: relative;
    font-size: medium !important;
    font-weight: 500;
    color: white !important; }
  #map div[aria-label="Map"] div[style*="z-index: 1;"] div[class]:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    content: "";
    width: 40px;
    aspect-ratio: 1 / 1;
    background-image: radial-gradient(rgba(104, 164, 217, 0.8) 50%, rgba(104, 164, 217, 0.5) 50%, rgba(104, 164, 217, 0.5) 75%, rgba(104, 164, 217, 0.3) 75%, rgba(104, 164, 217, 0.3) 100%);
    border-radius: 50%;
    z-index: -1; }
  #map div[aria-label="Map"]
div[style*="z-index: 1;"]
div[style*="color: rgb(0, 0, 0);"] {
    transform: translateX(-5%) translateY(-25%); }
    #map div[aria-label="Map"]
div[style*="z-index: 1;"]
div[style*="color: rgb(0, 0, 0);"]:before {
      display: none; }
  #map div[role="dialog"] {
    max-width: 300px; }
  #map img[alt="Google"],
  #map .gmnoprint,
  #map .gmnoscreen,
  #map .gm-style-cc {
    display: none; }

.map__pop-up {
  max-width: 250px; }
  .map__pop-up strong {
    font-size: 20px;
    color: black; }
  .map__pop-up span {
    display: block;
    margin-top: 0.4rem;
    font-style: italic; }
  .map__pop-up p {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem; }
  .map__pop-up b {
    color: #68a4d9; }

.about {
  --gap-section: 7rem;
  position: relative;
  padding-top: var(--gap-section); }
  @media only screen and (min-width: 1025px) {
    .about {
      padding-bottom: var(--gap-section); } }
  @media only screen and (min-width: 769px) {
    .about:before {
      --shape-radius: 3rem;
      position: absolute;
      right: 0;
      bottom: -10%;
      display: block;
      content: "";
      width: 22%;
      height: 85%;
      background: linear-gradient(45deg, #52aeff 0%, #68a4d9 100%);
      border-radius: var(--shape-radius) 0 0 var(--shape-radius);
      z-index: -1; } }
  @media only screen and (min-width: 1025px) {
    .about:before {
      --shape-radius: 6rem;
      bottom: 0;
      width: 24%;
      height: 80%; } }
  @media only screen and (min-width: 1367px) {
    .about:before {
      bottom: -5%;
      width: 26%;
      height: 85%; } }
  @media only screen and (min-width: 1661px) {
    .about:before {
      bottom: -10%;
      height: 90%; } }
  .about__container {
    --column: 1fr;
    --gap-row-container: 3.2rem;
    --gap-column-container: 3.2rem;
    display: grid;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    grid-template-columns: var(--column);
    column-gap: var(--gap-column-container);
    row-gap: var(--gap-row-container); }
    @media only screen and (min-width: 769px) {
      .about__container {
        --column: 2fr 1fr;
        --gap-row-container: 0;
        --gap-column-container: 6.4rem; } }
    @media only screen and (min-width: 1025px) {
      .about__container {
        --gap-row-container: 0; } }
  @media only screen and (min-width: 769px) {
    .about__title h2 {
      margin-bottom: 1.6rem; } }
  .about__content {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: normal;
    justify-content: flex-start;
    gap: 1.6rem; }
    .about__content p {
      margin-bottom: var(--gap-l);
      color: var(--color-secondary); }
      .about__content p strong {
        font-family: inherit; }
  .about__numbers {
    --column: 1fr;
    --column-gap: 0.8rem;
    --align-content: flex-start;
    --justify-content: normal;
    --align-content: normal;
    display: grid;
    gap: var(--column-gap);
    align-items: var(--align-items);
    align-content: var(--align-content);
    justify-content: var(--justify-content);
    grid-template-columns: var(--column);
    position: relative;
    grid-row-start: 2; }
    @media only screen and (min-width: 321px) {
      .about__numbers {
        --column: 1fr 1fr; } }
    @media only screen and (min-width: 426px) {
      .about__numbers {
        --column: 1fr 1fr 1fr; } }
    @media only screen and (min-width: 769px) {
      .about__numbers {
        --column: 1fr;
        --align-content: center;
        grid-column: 2;
        grid-row: 1 / span 6; } }
    @media only screen and (min-width: 1025px) {
      .about__numbers {
        --column-gap: 1.6rem; } }
    @media only screen and (min-width: 1367px) {
      .about__numbers:after {
        --bg-image: url("../images/circles/about-dots.svg");
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        content: "";
        width: 172%;
        aspect-ratio: 680/501;
        background-image: var(--bg-image);
        background-repeat: no-repeat;
        background-position: bottom 0 right 0;
        transform: translate(14%, 20%); } }
    @media only screen and (max-width: 768px) {
      .about__numbers::before {
        --shape-radius: 0;
        position: absolute;
        right: -1rem;
        bottom: -1.6rem;
        content: "";
        width: 100vw;
        height: calc(100% + 3.2rem);
        background: radial-gradient(ellipse at center, #68a4d9, #52aeff);
        border-radius: var(--shape-radius) 0 0 var(--shape-radius);
        z-index: -1; } }
  @media only screen and (max-width: 768px) and (min-width: 426px) {
    .about__numbers::before {
      right: -1.6rem; } }
  .about .card {
    --card-opacity: 0;
    --trans-time: 0.5s;
    --color-box-shadow: rgba(0, 0, 0, 0.17);
    --trans-y: -1rem;
    --column: 1fr;
    --column-gap: 1.6rem;
    --align-content: center;
    --justify-content: center;
    display: grid;
    gap: var(--column-gap);
    align-items: var(--align-items);
    align-content: var(--align-content);
    justify-content: var(--justify-content);
    grid-template-columns: var(--column);
    box-shadow: 30px 30px 75px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    max-width: 425px;
    padding: 1.6rem;
    background-color: var(--color-white);
    background-color: var(--color-white);
    opacity: var(--card-opacity);
    border-radius: var(--gap);
    text-align: center;
    transform: translateY(var(--trans-y));
    transition: opacity var(--trans-time) var(--trans-fnc), transform var(--trans-time) var(--trans-fnc);
    z-index: 1; }
    @media only screen and (min-width: 769px) {
      .about .card {
        --column-gap: 1.6rem; } }
    @media only screen and (min-width: 1367px) {
      .about .card {
        padding: 2.4rem;
        margin-left: 1rem; } }
    @media only screen and (min-width: 1441px) {
      .about .card {
        padding: 2.4rem;
        margin-left: 2rem; } }
    @media only screen and (min-width: 321px) {
      .about .card--span {
        grid-column: span 2; } }
    @media only screen and (min-width: 426px) {
      .about .card--span {
        grid-column: span 1; } }
    .about .card--visible {
      --card-opacity: 1;
      --trans-y: 0; }
      .about .card--visible:nth-child(1) {
        transition-delay: 0; }
      .about .card--visible:nth-child(2) {
        transition-delay: 0.25s; }
      .about .card--visible:nth-child(3) {
        transition-delay: 0.5s; }
    .about .card__bottom {
      --justify-content: center;
      --flow: column;
      flex-direction: column;
      text-align: center;
      display: flex;
      flex-flow: var(--flow) nowrap;
      align-items: stretch;
      align-content: normal;
      justify-content: var(--justify-content);
      gap: 0; }
      .about .card__bottom a {
        font-family: open-sans,sans-serif;
        font-size: 20px; }
      .about .card__bottom p {
        font-family: var(--font-title);
        font-size: 1.5em;
        line-height: 1;
        color: var(--color-secondary); }
        @media only screen and (min-width: 1025px) {
          .about .card__bottom p {
            font-size: 2em; } }
      .about .card__bottom span {
        font-family: var(--font-title);
        font-size: 2em;
        font-weight: 600;
        line-height: 1;
        color: var(--color-black); }
        @media only screen and (min-width: 769px) {
          .about .card__bottom span {
            font-size: 2.5em; } }
        @media only screen and (min-width: 1025px) {
          .about .card__bottom span {
            font-size: 3.5em; } }
        @media only screen and (min-width: 1367px) {
          .about .card__bottom span {
            font-size: 4em; } }
    .about .card__top {
      --justify-content: center;
      display: flex;
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
      align-content: normal;
      justify-content: var(--justify-content);
      gap: 0; }
      .about .card__top > img {
        max-height: 100px; }
  .about .icon-wrapper {
    position: relative;
    display: block;
    width: 52px;
    height: 52px;
    aspect-ratio: 1 / 1;
    background: var(--color-primary);
    border-radius: 50%; }
    @media only screen and (min-width: 769px) {
      .about .icon-wrapper {
        width: 3.6rem;
        height: 3.6rem; } }
    @media only screen and (min-width: 1025px) {
      .about .icon-wrapper {
        width: 5rem;
        height: 5rem; } }
    .about .icon-wrapper .icon {
      --icon-size: var(--gap-l);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      fill: var(--color-white); }
      @media only screen and (min-width: 1025px) {
        .about .icon-wrapper .icon {
          --icon-size: var(--gap-xl); } }

.services {
  --gap-section: 7rem;
  padding-top: var(--gap-section); }
  .services__container {
    --gap-container: calc(3.2rem * 2);
    display: grid;
    gap: var(--gap-container);
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    grid-template-columns: 1fr; }
  .services__title h2 {
    margin-bottom: 1.6rem; }
  .services__content {
    --column: 1fr;
    --column-gap: 1.6rem;
    --align-items: start;
    --justify-content: center;
    --align-content: stretch;
    display: grid;
    gap: var(--column-gap);
    align-items: var(--align-items);
    align-content: var(--align-content);
    justify-content: var(--justify-content);
    grid-template-columns: var(--column);
    scroll-margin-top: var(--nav-height); }
    @media only screen and (min-width: 769px) {
      .services__content {
        --column: 2fr 1fr;
        --column-gap: 2.4rem; } }
    @media only screen and (min-width: 1025px) {
      .services__content {
        --column-gap: 2.4rem; } }
    .services__content ul {
      padding-left: var(--gap-xl);
      margin-bottom: var(--gap-xxl); }
      @media only screen and (min-width: 426px) {
        .services__content ul {
          padding-left: var(--gap-xxl); } }
      .services__content ul li {
        font-family: var(--font-title);
        font-size: x-large;
        line-height: 1.4; }
        .services__content ul li::marker {
          margin: 0 0.5rem 0 0;
          font-size: 2rem;
          color: var(--color-primary); }
    @media only screen and (max-width: 1366px) {
      .services__content img {
        width: 100%;
        max-width: 200px; } }
    .services__content h3 {
      margin-bottom: var(--gap);
      font-size: 2rem; }
    .services__content p {
      margin-bottom: var(--gap-l);
      color: var(--color-secondary); }
      .services__content p strong {
        font-family: inherit;
        font-weight: bold; }
      .services__content p a {
        font-weight: bold;
        color: inherit; }
    .services__content .img-wrapper {
      --radius:2.4rem;
      --color-box-shadow: rgba(0, 0, 0, 0.17);
      border-radius: var(--radius);
      overflow: hidden;
      box-shadow: 0 20px 75px 0 rgba(0, 0, 0, 0); }
      .services__content .img-wrapper > picture {
        display: flex; }
    .services__content--column {
      --column: 1fr; }
    .services__content--reverse {
      --column: 1fr; }
      @media only screen and (min-width: 769px) {
        .services__content--reverse {
          --column: 1fr 2fr; } }
      @media only screen and (max-width: 768px) {
        .services__content--reverse > picture {
          grid-row: end; } }

.reference {
  --gap-section: 7rem;
  padding-top: var(--gap-section); }
  .reference h2 {
    margin-bottom: 2rem; }

.header-guidepost__logo {
  --pt: 3rem;
  --pb: 2rem;
  position: relative;
  padding-top: var(--pt);
  padding-bottom: var(--pb);
  text-align: center; }
  .header-guidepost__logo h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%); }
  .header-guidepost__logo svg {
    max-height: 170px; }

.header-guidepost__content {
  --space-gap: 1.6rem;
  --align-items: center;
  --justify-content: normal;
  --align-content: center;
  display: flex;
  flex-flow: column wrap;
  align-items: var(--align-items);
  align-content: var(--align-content);
  justify-content: var(--justify-content);
  gap: var(--space-gap);
  font-family: var(--font-text); }
  .header-guidepost__content strong {
    font-family: inherit; }
  .header-guidepost__content .desc {
    --desc-font-size: 18px; }
    @media only screen and (max-width: 1024px) {
      .header-guidepost__content .desc {
        --desc-font-size: 16px; } }

.wrapper-guidepost {
  min-height: 100vh; }
  .wrapper-guidepost:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../images/logos/dlc-group-logo_big.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-white);
    background-attachment: fixed;
    opacity: 1;
    animation: hide 0.5s forwards;
    animation-delay: 1.5s;
    z-index: 10; }
  .wrapper-guidepost:after {
    position: absolute;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/main-bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
    backdrop-filter: saturate(160%) blur(5px);
    background-size: cover; }

.guidepost {
  --pt: 4rem;
  --pb: 4rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: normal;
  justify-content: center;
  gap: 0;
  padding-top: var(--pt);
  padding-bottom: var(--pb); }

.redirect-card {
  --box-gap: 3.2rem;
  --padding: 3.2rem 1.6rem;
  --align-items: center;
  --justify-content: normal;
  --align-content: center;
  --shadow-alpha: 0.15;
  --logo-scale: 1;
  --box-gap: 2.4rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: var(--align-items);
  align-content: var(--align-content);
  justify-content: var(--justify-content);
  gap: var(--box-gap);
  box-shadow: 0 0 75px 0 hsla(0, 0%, 0%, var(--shadow-alpha));
  max-width: 280px;
  padding: var(--padding);
  background: var(--color-white);
  border-radius: var(--gap-xl);
  font-size: 10px;
  text-decoration: none;
  transition: box-shadow var(--trans-time) ease-in-out; }
  .redirect-card:hover {
    --shadow-alpha: 0.3;
    --logo-scale: 1.1; }
    @media only screen and (max-width: 768px) {
      .redirect-card:hover {
        --shadow-alpha: 0.15;
        --logo-scale: 1; } }
  .redirect-card__wrapper {
    --column: 1fr;
    --column-gap: 2.4rem;
    --align-content: flex-start;
    --justify-content: normal;
    --align-content: normal;
    display: grid;
    gap: var(--column-gap);
    align-items: var(--align-items);
    align-content: var(--align-content);
    justify-content: var(--justify-content);
    grid-template-columns: var(--column); }
    @media only screen and (min-width: 426px) {
      .redirect-card__wrapper {
        --column: 1fr 1fr; } }
    @media only screen and (min-width: 769px) {
      .redirect-card__wrapper {
        --column: 1fr 1fr 1fr; } }
  .redirect-card__top > svg {
    max-width: 5em;
    height: auto;
    transform: scale(var(--logo-scale), var(--logo-scale));
    transition: transform var(--trans-time) ease-in-out; }
  .redirect-card__center {
    font-size: 10px;
    text-align: center; }
    .redirect-card__center > .title {
      margin-bottom: 0.4em;
      font-family: var(--font-title);
      font-size: 3.5em;
      font-weight: 500;
      color: var(--color-primary);
      white-space: nowrap; }
      .redirect-card__center > .title--yellow {
        color: var(--color-yellow); }
    .redirect-card__center > small {
      font-size: 1.7em;
      line-height: 1.4;
      color: var(--color-secondary); }
  .redirect-card__bottom {
    font-size: 10px; }
    .redirect-card__bottom > span {
      font-size: 1.7em;
      color: var(--color-primary);
      text-transform: uppercase; }
      .redirect-card__bottom > span:hover {
        text-decoration: underline; }

@keyframes hide {
  from {
    opacity: 1;
    z-index: 10; }
  99% {
    opacity: 0;
    z-index: 10; }
  to {
    opacity: 0;
    z-index: -10; } }

/*# sourceMappingURL=management.css.map */