@import "../base/global";

.button {
  --pad: #{$gap};
  --btn-color: var(--color-white);
  --btn-bg-color: var(--color-black);
  --btn-border-color: var(--color-black);
  --btn-trans-y: 0;
  --shadow-alpha:.15;
  @include flex-set(inline, row, nowrap, var(--gap-s), center, center, center);
  @include border("def", var(--border-width), var(--btn-border-color));
  @include box-shadow(var(--shadow-alpha),0, $gap-s, $gap);
  min-width: 12rem;
  padding: var(--pad);
  background-color: var(--btn-bg-color);
  border-radius: var(--radius-s);
  font-family: var(--font-title);
  font-size: x-large;
  font-weight: 400;
  line-height: 1;
  color: var(--btn-color);
  text-decoration: none;
  text-transform: uppercase;
  transform: translateY(var(--btn-trans-y));
  transition: transform var(--trans-time) ease-in-out,
    box-shadow var(--trans-time) ease-in-out;
  cursor: pointer;

  &:hover {
    --btn-trans-y: -5%;
    --shadow-alpha:.3;
    @include res-max-tablet{
      --btn-trans-y: 0;
      --shadow-alpha:.15;
    }
  }

  &--secondary {
    --btn-color: var(--color-black);
    --btn-bg-color: var(--color-trans);
  }

  &[disabled]{
    --btn-bg-color: var(--color-disabled);
    --btn-cursor: not-allowed;
    &:hover{
      --shadow-alpha:.15;
      --btn-trans-y: 0;
    }
  }
}
