@import "../base/global";

.form {
  &__element {
    --gap-form: #{$gap-s};
    @include grid-columns(def, 1fr, var(--gap-form), stretch, center, stretch);

    @include res-max-mobile-l {
      grid-column: span 2;
    }

    &--full {
      grid-column: span 2;
    }

    label {
      font-family: var(--font-title);
      font-size: 1.375rem;
    }

    input,
    textarea {
      @include border(def, 0, var(--color-black));
      @include border(bottom, var(--border-width), var(--color-black));
      width: 100%;
      border-radius: 0;
      font-family: var(--font-text);
      font-size: 1rem;

      &:focus {
        border-color: var(--color-primary);
      }

      &:focus-visible {
        outline: 0;
      }
    }

    textarea {
      min-height: 10rem;
      max-height: 14rem;
      resize: vertical;
    }
  }
}
